<div class="container text-center">
  <%= image_tag("empty_state.jpg", alt: 'threwing up hands meme', height: '280')%>
  <p class="text-gray title-sm text-bald mt-sm">This user has no questions yet. Ask now!</p> 
<div>